# Node modules
/node_modules/

# Build output
/dist/
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/logs/
*.log

# Dependency directories
/.pnp/
/.pnp.js

# Coverage
/coverage/
/.nyc_output/

# Env files
/.env
.env.*      # e.g. .env.local, .env.test

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm/

# WebStorm
/.idea/

# OS files
.DS_Store
Thumbs.db

# VSCode
/.vscode/

# Optional lockfiles (uncomment if you DO NOT want to commit these)
/package-lock.json
/yarn.lock
/pnpm-lock.yaml
/src/generated/prisma
